name: Build - Push Docker image to ghcr

on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup
        run: |
          echo "IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY,,}/tp4-todo-api:latest" >> $GITHUB_ENV

      - name: Build
        run: |
          docker build -t $IMAGE_NAME ./src/api

      - name: Push
        run: |
          docker push $IMAGE_NAME    